body {
    font-family: Inter;
}

h1 {
    text-align: center;
    padding: 1rem;
}

h3 {
    text-align: center;
    
}

.main-container {
    display: flex;
    justify-content: center;
    gap: 20rem;
}

.left-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    height: 35rem;
    border: 2px solid red;
    gap: 1rem;
}

.right-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    height: 35rem;
    border: 2px solid blue;
}

.image-container {
    width: 20rem;
    height: 20rem;
    padding: 1rem;
    border: 4px solid black;

    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-panel {
    background-color: #E8E8E8;
    border: 0px solid;
    width: 20rem;
    height: 20rem;
    padding: 2rem;
    text-align: center;
}

.name-box {
    border: 1px solid black;
    width: 22rem;
    border-radius: 10px;
    text-align: center;

    font-weight: 400;
    font-size: 1rem;
}

.button-box{
    container: flex;
    text-align: center;
    align-items: center;
    flex-direction: row;
}

.button-box button{
    color: black;
    border: 0px solid;
    border-radius: 1px;
    background-color: #7CFF79;
} 

