body {
    font-family: Inter;
}

h1 {
    text-align: center;
    padding: 0.5rem;
    font-size: 3rem;
}

h3 {
    text-align: center;
    font-size: 1.5rem;
}

h4 {
    text-align: left;
}

.main-container {
    display: flex;
    justify-content: center;
    gap: 20rem;
}

.left-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    height: 40rem;
    border: 2px solid red;
    gap: 1rem;
}

.right-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    height: 40rem;
    border: 2px solid blue;
}

.image-container {
    width: 20rem;
    height: 20rem;
    padding: 1rem;
    border: 4px solid black;

    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-panel {
    background-color: #E8E8E8;
    font-weight: 400;
    font-size: 22px;
    border: 0px solid;
    width: 20rem;
    height: 22rem;
    padding: 2rem;
    text-align: left;
}

.name-box {
    border: 1px solid black;
    background-color: #E8E8E8;
    width: 22rem;
    border-radius: 10px;
    text-align: center;

    font-weight: 400;
    font-size: 1.2rem;
}

.button-box{
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
    border: solid yellowgreen;
    gap: 2rem;
}


.button-box button{
    padding: 0.8rem 2.5rem;
    width: 8rem;
    height: 3rem;
    color: black;
    border: none;
    border-radius: 4px;
    background-color: #E8E8E8;
    font-size: 20px;
    justify-content: center;
    align-items: center;
} 

.type-container{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    border: solid green;
    width: 22rem;
    height: 1.5rem
}

.arrow-container{
    align-items: center;
    border: solid orangered;
    width: 8rem;
    height: 3rem;
    border-radius: 4px;
    background-color: #E8E8E8;
    justify-content: center;
}


.arrow-container img{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
}