body {
    font-family: Inter;
}

h1 {
    text-align: center;
    padding: 0.5rem;
    font-size: 3rem;
}

h3 {
    text-align: center;
    font-size: 1.5rem;
}

h4 {
    text-align: left;
}

.main-container {
    display: flex;
    justify-content: center;
    gap: 20rem;
}

.left-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    height: 40rem;
    border: 2px solid red;
    gap: 1rem;
}

.right-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    height: 40rem;
    border: 2px solid blue;
}

.image-container {
    width: 20rem;
    height: 20rem;
    padding: 1rem;
    border: 4px solid black;

    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.info-panel {
    background-color: #E8E8E8;
    font-weight: 400;
    font-size: 22px;
    border: 0px solid;
    width: 20rem;
    height: 22rem;
    padding: 2rem;
    text-align: left;
}

.name-box {
    border: 1px solid black;
    background-color: #E8E8E8;
    width: 22rem;
    border-radius: 10px;
    text-align: center;

    font-weight: 400;
    font-size: 1.2rem;
}

.nav-buttons {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  
  .nav-btn {
    width: 8rem;
    height: 3rem;
    border: none;
    border-radius: 8px;
    background-color: #E8E8E8;
    cursor: pointer;
  
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.6rem; /* tweak for your arrow PNG size */
  }

.nav-left  { background-image: url("leftArrow.png"); }
.nav-right { background-image: url("rightArrow.png"); }

.tab-buttons {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  
  .tab-btn {
    width: 8rem;
    height: 3rem;
    border: none;
    border-radius: 8px;
    background-color: #E8E8E8;
    cursor: pointer;
    font-size: 20px;
  }
  
  .tab-btn.active {
    background-color: #7CFF79;
  }

.type-container{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    border: solid green;
    width: 22rem;
    height: 1.5rem
}