body {
    font-family: Inter;
}

h1 {
    text-align: center;
    padding: 0.5rem;
    font-size: 3rem;
}

h3 {
    text-align: center;
    font-size: 1.5rem;
}

.main-container {
    display: flex;
    justify-content: center;
    gap: 6rem;
}

.left-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    height: 40rem;
    gap: 1rem;
}

.left-panel h4 {
    align-self: flex-start;
    margin-left: 4rem;
    margin-bottom: 0;
    font-size: 22px;
}

.right-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    height: 40rem;
}

#panel-title {
    margin-top: 0;
    margin-bottom: 1rem;
}

.image-container {
    width: 20rem;
    height: 20rem;
    padding: 1rem;
    border: 4px solid black;

    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.info-panel {
    background-color: #E8E8E8;
    font-weight: 350;
    font-size: 24px;
    border: 0px solid;
    width: 20rem;
    height: 25rem;
    padding: 2rem;
    text-align: left;
}

.name-box {
    border: 1px solid black;
    background-color: #E8E8E8;
    width: 22rem;
    height: 3rem;
    border-radius: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 400;
    font-size: 1.2rem;
}

.nav-buttons {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-top: auto;
  }
  
  .nav-btn {
    width: 8rem;
    height: 3rem;
    border: none;
    border-radius: 8px;
    background-color: #E8E8E8;
    cursor: pointer;
  
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2.5rem;
  }

.nav-left  { background-image: url("leftArrow.png"); }
.nav-right { background-image: url("rightArrow.png"); }

.tab-buttons {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: 0;
  }
  
  .tab-btn {
    width: 8rem;
    height: 3rem;
    border: none;
    border-radius: 8px;
    background-color: #E8E8E8;
    cursor: pointer;
    font-size: 20px;
  }
  
  .tab-btn.active {
    background-color: #7CFF79;
  }

.type-container{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    width: 22rem;
    height: 2rem;
    margin-top: 0;
}

.type-pill {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    border-radius: 12px;
    color: black;
  }
  
.type-normal   { background-color: #A8A77A;}
.type-fire     { background-color: #EE8130;}
.type-water    { background-color: #6390F0;}
.type-electric { background-color: #F7D02C;}
.type-grass    { background-color: #7AC74C;}
.type-ice      { background-color: #96D9D6;}
.type-fighting { background-color: #C22E28;}
.type-poison   { background-color: #A33EA1;}
.type-ground   { background-color: #E2BF65;}
.type-flying   { background-color: #A98FF3;}
.type-psychic  { background-color: #F95587;}
.type-bug      { background-color: #A6B91A;}
.type-rock     { background-color: #B6A136;}
.type-ghost    { background-color: #735797;}
.type-dragon   { background-color: #6F35FC;}
.type-dark     { background-color: #705746;}
.type-steel    { background-color: #B7B7CE;}
.type-fairy    { background-color: #D685AD;}

.moves-list {
    list-style: none;     
    padding: 0;           
    margin: 0;            
}

.moves-list li {
    margin: 0;
    padding: 0;
    line-height: 1.4;
}